.body{
    background: aquamarine;
    display: flex;
    justify-content:center;
    margin:0%;
    width: 100%;
    height: 100%;
}
.main{
    padding: 60px;
    margin-top: 30%;
    width: 500px;
    background-color: rgb(253, 197, 123);
    border: 2px solid black;
    border-radius: 20px;
    background: antiquewhite;
}
